*{
    padding: 0;
    margin: 47;
    box-sizing: border-box;
    
  }
  header {
    max-width: 1420px;
    margin: 0 auto;
    padding: 51px 99px;
    
  }
  h1{
  font-family: 'absolute' sans-serif;}
  .cool {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
  }
  
  .cool::before {
    content: '';
    background-color: #4CE0D7;;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 19px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .cool:hover::before {
    bottom: 0;
    height: 100%;
  }
  
  .rectangle{
    left: 37.18%;
    right: 10%;
    top: 28.57%;
    bottom: 30.61%;
    box-sizing:content-box;
    background: #4CE0D7;
  }
  
  .header-dis {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 30px ;
  }
  
  .header-dis nav a{
    padding: 15px;
    text-decoration: none;
   color: #262626;
  font-family:  'Poppins' sans-serif;
  }
  .header-dis nav{
    padding-left: 370px;
  }
  .contact {
  
    width: 143.81px;
    height: 35.95px;
    left: 1098px;
    top: 42.17px;
    background: #4CE0D7;
    border-radius: 40px;
    text-decoration: none;
    
  }
  .contact a button{
    text-decoration: none;
    width: 143.81px;
    height: 35.95px;
    left: 1098px;
    top: 42.17px;
    background: #4CE0D7;
    border-radius: 40px ;
    border: #4CE0D7; 
  }
  .search button{
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background: #4CE0D7;
    border: #4CE0D7;
    text-decoration: none;
  }
  .none {
    display: none;
    width: 50px;
    color: aliceblue;
    border: none;
  }
  a.ex1:hover, a.ex1:active { background: #4CE0D7 ; border-radius: 20px;}
  button.ex2:hover, button.ex2:active { border: solid 2px #4CE0D7 ; background: white; }
  .photo:hover + .none {
    display: block ; border: #18272F solid  ;
  }
  
  /*  header end  დასასრული  */
  p{
  
  font-family: 'Poppins';
  font-style: normal;
  /* identical to box height */
  
  letter-spacing: 0.23em;
  
  color: #FFFFFF;
  }
  
  .firs-section{
    background-image: url(images/pexels-andrea-piacquadio-994234\ 1\ \(2\).png);
  
    background-repeat: no-repeat;
    background-size: cover;
    height: 603px;
    width: 1239px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .firs-section-content {
    
    position: absolute;
    top: 461px;
    left: 169px;
  }
  .firs-section-content h1  {
    font-family: Poppins;
  font-size: 46px;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  
  font-family: Poppins;
  font-size: 46px;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  
  }
  .firs-section-content h1 span{
  
  color: #4CE0D7;
  
  }
  .firs-section-content p {
    font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.23em;
  text-align: left;
  color: #FFFFFF;
  
  }
  .firs-section-content h3{
    
  width: 494px;
  height: 72px;
  left: 137px;
  top: 479px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  
  }
  
  
  
  /*  imagis  დასასრული  */
  
  .row {
    padding-left: 22px;
  
    
  }
  
  .column {
    
  float: left; 
  width: 204px;
  height: 291px;
  background: #FFFFFF;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 30px;
  margin: 14px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column img {
   
    display: block;
  margin-left: auto;
  margin-right: auto;
  left: 12.83%;
  right: 12.83%;
  
  
  
  }
  .column h2 {
    text-align: center;
    margin-top: 2px;
    padding-top: 27px;
    
  }
  .column div a button {
    display: block;
    margin-left: auto;
    margin-right: auto;
   text-decoration: none;
   margin-top: 36px;
    
  }
  .column div a {
    text-decoration: none;
  }
  .contact1 {
  
    width: 143.81px;
    height: 35.95px;
    left: 1098px;
    top: 42.17px;
    background: #4CE0D7;
    border-radius: 40px;
    text-decoration: none;
    
  }
  .contact1 a button{
    text-decoration: none;
    width: 143.81px;
    height: 35.95px;
    left: 1098px;
    top: 42.17px;
    background: #4CE0D7;
    border-radius: 40px ;
    border: #4CE0D7; 
  }
  button.ex4:hover, button.ex4:active { border: solid 2px #4CE0D7 ; background: white; }
  .contact1 {
    align-items: center;
  }
  .a1 img {
  margin-top: 6px;
  }
  .a2 img {
    margin-top: -10px;
  
  }
  .a3 img {
    margin-top: -7px;
  
  }
  .a4 img {
    margin-top: 6px;
  
  }
  .a5 img {
    margin-top: 9px;
  
  }
  .a6 img {
    margin-top: -7px;
  
  }
  .topics h1 {
    margin: 43px;
    padding-top: 18px;
    padding-left: 42px;
    width: 282px ;
    
    width: 282px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #262626;
    
  
  }


    /* Vector 2 */

hr {
height: 0px;
width: 1300px;
margin-left: 225.5px;
margin-top:87.5px;
border-radius: 0px;

}

hr {
position: absolute;
border: 1px solid #BCBCBC;
}

.latest-trend {
height: 698px;
width: 1300px;
margin-left: 220px;
margin-top: 153px;
border-radius: 20px;

}

.latest-trend {
background: #FFFFFF;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
border-radius: 20px;
}

.background {
position: relative;    
height: 360.3041687011719px;
width: 1400px;
margin-left: 50px;
border-radius: [object Object]px;
background-image: url(images/background.png);
background-repeat: no-repeat;
}


.buttong {
height: 37px;
width: 235px;
margin:50px 50px;
border-radius: 40px;
}

.buttong {
position: absolute;
width: 200.95px;
height: 36.49px;
background: #262626;
border-radius: 40px;
transform: matrix(1, -0.01, 0.01, 1, 0, 0);
}

.buttong {  
position: absolute;
text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
padding-top: 8px;
}

.buttong:hover {
    background-color:white;
    color:rgb(7, 7, 7);
}

.glasses {
display: flex;
margin-left:100px;
align-items: center;
gap:60px;
}

.glassimg {    
margin-top: 20px;
height: 70.09033966064453px;
width: 70.79735565185547px;
border-radius:60px;

}

.glassp { 
font-family:'Poppins';
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
width: 167px;
height: 21px;
color: #BCBCBC;
}

h3 {
    display: inline;
    margin-left: 300px;
    width: 216px;
    height: 23px;
    top: 1680px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.24em;
    color: #F25E5E;
}

.Moon {
    display: flex;
    flex-direction: column;
}

.moontext {
position: absolute;
width: 1044px;
height: 36px;
margin-left:85px;
margin-top:40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 39px;
color: #262626;
}

.moonp {
position: absolute;
width: 1033px;
height: 73px;
margin-left:85px;
margin-top:100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #262626;
}

.moondiv {
    position: absolute;
    display: flex;
    gap: 20px;
    margin-left: 85px;
    margin-top: 180px;
}

.direction {
height: 13.333333015441895px;
width: 21.25px;
border-radius: 0px;
color:  #4CE0D7;
margin-top: 25px;
}
.moonh4 {
margin-top:23px;
margin-left: 10px;    
width: 215px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.24em;
color: #4CE0D7;
}

.trending {
width: 370px;
height: 36px;
margin-left: 226px;
margin-top: 120px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
color: #262626;
}


.bigdivtwo {
display: flex;
gap: 120px;
}

.suffer {
position: relative;
background-image: url(images/Sufferimg.png);
background-repeat: no-repeat;
height: 670px;
width: 559px;
margin-left:220px;
top:60px;
border-radius:20px;
background-color:#FFFFFF;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.calm {
margin-top: 60px;    
position: relative;
background-image: url(images/calmimg.png);  
background-repeat: no-repeat;  
height: 670px;
width: 559px;
margin-left:60px;
border-radius:20px;
background-color:#FFFFFF;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.lifestyle { 
position: absolute;
margin: 20px;
width: 150.95px;
height: 36.49px;
}

.summer {
position: absolute;  
margin:20px;  
width: 150.95px;
height: 36.49px;  
}

.glass2 {
position: absolute;
display: flex;
gap: 60px;
margin-top: 270px; 
margin-left: 30px;
}

.moon2 {
    position: absolute;
    margin-top: 340px;
    
}

.moontext2 {
margin-left: 30px;
position: absolute;    
height: 74px;
width: 421px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 39px;
color: #262626;
}

.moonp2 {
margin-top: 110px;
padding-top: 20px;
position: absolute;
width: 464px;
height: 98px;
left: 153px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #262626;
margin-left: -120px;
}

.moondiv2 {
    margin-top: 250px;
    margin-left:30px;
}
